@CHARSET "ISO-8859-1";

#topo_pagina {

    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #000000;

}

#tabela_login_topo {

    background-color: #FDFB9D;
    color: #000000;
    padding-bottom: 8px;
    padding-left: 7px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;

}

.tabela_cabecalho_usuario {

    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #99CC00;
    color: #666666;
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0px;

}

.titulo_paginas_cliente {

    font-size: 24px;

}

.td_titulo_promocao {

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000000;
    padding-bottom: 15px;

}

.td_descricao_promocao {

    padding-bottom: 10px;

}

.td_preco_promocao {

    font-size: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 185px;
    vertical-align: top;
    padding-top: 0px;

}

.tabela_promocao {

    background-color: #f1f1f1;
    border: 1px solid #9FAEC2;
    width: 98%;
    color: #000000;
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius: 0px 0px 3px 3px;
    page-break-inside: avoid;
    border-collapse: collapse;

}

.preco_promocao_de {

    color: #000000;
    text-decoration: line-through;

}

.preco_promocao_ate {

    color: #FF0000;

}

.td_promocao_botao_comprar {

    padding-bottom: 10px;
    text-align: center;

}

.tr_promocao_impar {

    background-color: #fdfb9d;

}

.tr_promocao_par {

    background-color: #C4C4C4;

}

.td_promocao_botao_comprar a {

    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;

}

.td_promocao_botao_comprar a:hover {

    color: #FF0000;

}

.tr_promocao_interna {

    background: #F1F1F1;

}

.botao_comprar_interno {

    background-color: #DCE7F5;
    font: bold 22px arial, helvetica, sans-serif;
    text-align: center !important;
    border: 1px solid #333333;
    color: #264365;
    padding: 0 7px 1px;
    cursor: pointer;

}

.input_text_grande {

    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    color: #666666;
    z-index: 1;
    padding: 2px;
    margin: 0px;

}

.focus_text_grande {

    background-color: #fdfb9d;
    color: #666666;
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    z-index: 1;
    padding: 2px;

}

.td_label_quantidade_promocao {

    font-size: 18px;
    padding-left: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 125px;

}

.td_botao_comprar_promocao {

    width: 125px;

}

.td_destaque_valor_pedido {

    background-color: #DCE6F5;
    border: 1px solid #9FAEC2;
    font-size: 18px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.tabela_botao_finalizar_pedido {

    margin-top: 10px;
    border-width: 0px;
    width: 98%;
    margin-right: auto;
    margin-left: auto;

}

.td_procedimentos_inclusos {

    padding-top: 10px;
    padding-left: 2px;
    font-size: 16px;
    font-weight: bold;
    color: #3C73B7;

}

.input_captcha {

    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;

}

.focus_captcha {

    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
    background-color: #FFFFCC;

}

.link_topo_destaque:link {

    font-family: Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size: 11px;
    font-weight: bold;
    color: #F04111;
    text-decoration: none;

}

.link_topo_destaque:visited {

    font-family: Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size: 11px;
    font-weight: bold;
    color: #F04111;
    text-decoration: none;
}

.link_topo_destaque:hover {
    font-family: Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size: 11px;
    font-weight: bold;
    color: #ffcc00;
    text-decoration: none;

}

.td_informacoes_gerais {

    font-family: Verdana;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;

}

#div_vantagens_pag_seguro {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 570px;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    padding: 5px;

}

.td_titulo_passo_a_passo {

    font-size: 18px;
    padding-top: 12px;
    padding-left: 7px;
    color: #CE4E35;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;

}

.td_descricao_passo_a_passo {

    font-size: 14px;
    padding-top: 5px;
    padding-left: 7px;
    padding-bottom: 5px;
    color: #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    line-height: 22px;

}

.td_imagem_passo_a_passo {

    font-size: 14px;
    padding-top: 5px;
    padding-left: 7px;
    padding-bottom: 7px;
    color: #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    text-align: center;

}

td_espacamento_passo_a_passo {

    border-left-width: 0px;
    border-right-width: 0px;

}

.imagem_passo_a_passo {

}

.tabela_passo_a_passo {

    border-collapse: collapse;
    background-color: #FFFFFF;
    border: 0px solid #cccccc;
    color: #666666;
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;

}

.input {
    position: relative;
}

form div.erro {
    position: absolute;
    top: -2px;
    left: 0;
    padding: 0 0 6px !important;
    background: url('../imgs/tooltip-erro-bg.png') 11px bottom no-repeat;
    font-size: 10px;
    color: #fff;
}

/* line 28, ../sass/_form.scss */
form span.erro {
    display: block;
    padding: 0 7px;
    background-color: #ef413d;
    line-height: 22px;
    color: #fff;
    white-space: nowrap;
}

/* line 30, ../sass/_form.scss */
form span.erro[style*="inline"] {
    display: block !important;
}

form ol p.erro {
    display: block;
}

/* line 56, ../sass/_form.scss */
form p.erro, .form ol li.erro {
    color: #e33;
}

/* line 57, ../sass/_form.scss */
form li.erro {
    border-radius: 3px;
}

/* line 60, ../sass/_form.scss */
form li.erro, .form input.erro, .form textarea.erro {
    background-color: #f7cac9;
}

/* line 61, ../sass/_form.scss */
form ol li li p.erro {
    margin-left: 0;
}

/* line 62, ../sass/_form.scss */
form div.erro {
    clear: both;
    padding-top: 4px;
    font-size: 11px;
    color: red;
}




