@charset "UTF-8";



/* SpryMenuBarHorizontal.css - Revision: Spry Preview Release 1.4 */



/* Copyright (c) 2006. Adobe Systems Incorporated. All rights reserved. */



/*******************************************************************************



 LAYOUT INFORMATION: describes box model, positioning, z-order



 *******************************************************************************/



/* The outermost container of the Menu Bar, an auto width box with no margin or padding */

ul.MenuBarHorizontal
{

	margin: 0;
	padding: 0;
	list-style-type: none;
	cursor: default;
	width: auto;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10.5px;
	text-decoration:none;
	color:#ffffff;
	border-top:10px solid #000000;
	border-bottom:37px solid #000000;

}

/* Set the active Menu Bar with this class, currently setting z-index to accomodate IE rendering bug: http://therealcrisp.xs4all.nl/meuk/IE-zindexbug.html */

ul.MenuBarActive
{
	
	z-index: 1000;

}

/* Menu item containers, position children relative to this container and are a fixed width */

ul.MenuBarHorizontal li
{
	
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	position: relative;
	text-align: left;
	cursor: pointer;
	float: left;
	text-decoration:none;
	/*Largura de cada item no menu superior */
	width: 12.3em;
	
}

/* Submenus should appear below their parent (top: 0) with a higher z-index, but they are initially off the left side of the screen (-1000em) */

ul.MenuBarHorizontal ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	z-index: 1020;
	cursor: default;
	width: 16.2em;
	position: absolute;
	left: -1000em;
	text-decoration:none;

}

/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to auto so it comes onto the screen below its parent menu item */

ul.MenuBarHorizontal ul.MenuBarSubmenuVisible
{
	left: auto;


}

/* Menu item containers are same fixed width as parent */

ul.MenuBarHorizontal ul li
{
	
	width: 15.5em;
	_width: 16.0em;
	border-bottom:1px solid #99CC00;
	border-left:5px solid #92B54F;
	_border-right:5px solid #92B54F;

}
/* Submenus should appear slightly overlapping to the right (95%) and up (-5%) */

ul.MenuBarHorizontal ul ul
{
	
	position: absolute;
	margin: -5% 0 0 95%;	

}

/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to 0 so it comes onto the screen */

ul.MenuBarHorizontal ul.MenuBarSubmenuVisible ul.MenuBarSubmenuVisible
{
	
	left: auto;
	top: 0;
	
}

/*******************************************************************************

 DESIGN INFORMATION: describes color scheme, borders, fonts

 *******************************************************************************/



/* Submenu containers have borders on all sides */

ul.MenuBarHorizontal ul
{
	border-top:5px solid #92B54F;
	border-bottom:5px solid #92B54F;
	border-right:1px solid #92B54F;
	background-color:#92B54F;
	margin-left:-2px;

}

ul.MenuBarHorizontalTitulo ul
{
	border-top:5px solid #92B54F;
	border-bottom:5px solid #92B54F;
	border-right:1px solid #92B54F;
	background-color:#d60c53;
	margin-left:-2px;
}

/* Menu items are a light gray block with padding and no text decoration */

ul.MenuBarHorizontal a
{
	display: block;
	cursor: pointer;
	padding: 0.5em 0.75em;
	color:#ffffff;
	text-decoration: none;
}

/* Menu items that have mouse over or focus have a blue background and white text */

ul.MenuBarHorizontal a:hover, ul.MenuBarHorizontal a:focus

{

	background-color: #D3E1B9;
	color:#92B54F;
}

ul.MenuBarHorizontalTitulo a:hover, ul.MenuBarHorizontalTitulo a:focus

{

	background-color: #d60c53;
	color:#92B54F;
}

/* Menu items that are open with submenus are set to MenuBarItemHover with a blue background and white text */

ul.MenuBarHorizontal a.MenuBarItemHover, ul.MenuBarHorizontal a.MenuBarItemSubmenuHover, ul.MenuBarHorizontal a.MenuBarSubmenuVisible

{

	background-color: #D3E1B9;
	color: #5f5f63;

}




/*******************************************************************************



 SUBMENU INDICATION: styles if there is a submenu under a given menu item



 *******************************************************************************/



/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */

ul.MenuBarHorizontal a.MenuBarItemSubmenu

{

	background-image: url(SpryMenuBarDown.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
	text-decoration:none;
	background-color:#000000;
	text-align: center;

}

ul.MenuBarHorizontalTitulo a.MenuBarItemSubmenuTitulo

{

	background-image: url(SpryMenuBarDown.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
	text-decoration:none;
	background-color:#d60c53;
	text-align: left;

}

/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */

ul.MenuBarHorizontal ul a.MenuBarItemSubmenu

{

	background-image: url(SpryMenuBarRight.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background-color:#92B54F;
	color:#ffffff;
	text-decoration:none;
	text-align: left;

}

ul.MenuBarHorizontal ul a.MenuBarItemSubmenuTitulo

{

	text-align: center;
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background-color:#d60c53;
	color:#ffffff;
	text-decoration:none;

}

/* Menu items that are open with submenus have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */

ul.MenuBarHorizontal a.MenuBarItemSubmenuHover

{
	background-image: url(SpryMenuBarDownHover.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background-color:#92B54F;
}

/* Menu items that are open with submenus have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */

ul.MenuBarHorizontal ul a.MenuBarItemSubmenuHover

{

	background-image: url(SpryMenuBarRightHover.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background:#92B54F;
	color:#ffffff;
	text-decoration:none;


}


/*******************************************************************************



 BROWSER HACKS: the hacks below should not be changed unless you are an expert



 *******************************************************************************/



/* HACK FOR IE: to make sure the sub menus show above form controls, we underlay each submenu with an iframe */

ul.MenuBarHorizontal iframe
{
	position: absolute;
	z-index: 1010;
}

/* HACK FOR IE: to stabilize appearance of menu items; the slash in float is to keep IE 5.0 from parsing */

@media screen, projection
{
	ul.MenuBarHorizontal li.MenuBarItemIE
	{
		display: inline;
		float: left;
		background: #92B54F;
	}
}

