
body.omega-app-body.main-nav-closed #main-nav .navigation > .nav > li:first-child
{
  display: none;
}

body.omega-app-body.main-nav-closed #main-nav .navigation > .nav > li:hover > a
{
  > span
  {
    background-color: #09091b;
    padding-left: 0px !important;
    font-weight: 700;
    margin-left: 2px;
    border-bottom-width: 0px;
    width: 249px;
    text-align: center;
  }

  > .angle-down
  {
    display: none;
    margin-top: 0px;
  }

}

@media (max-width: 767px)
{
  body.omega-app-body.x-mobile
  {
    .page-header > .pull-left
    {
      float: left !important;
    }

    .page-header > .pull-right
    {
      float: right !important;
    }

    .modal-window .modal-dialog
    {
      .page-header
      {
        padding-bottom: 10px !important;
      }

      .page-header > .pull-right
      {
        margin-top: 0px !important;
      }

    }

    .modal-footer
    {
      padding: 5px;
    }

    .modal-footer button
    {
      margin: 5px;
    }

  }

}

body.omega-app-body.x-mobile
{
  &.main-nav-opened #content
  {
    margin-left: 253px !important;
  }

  .navbar-form
  {
    margin-left: 0px;
    margin-right: 0px;
  }

  .modal-body
  {
    padding: 10px;
  }

  .modal-window .modal-dialog.modal-md
  {
    width: 95% !important;
  }

  .modal-window .modal-dialog
  {
    width: 95% !important;

    .page-header
    {
      margin-bottom: 20px !important;
    }

    .col-xs-12
    {
      padding-left: 10px;
    }

    .row
    {
      margin-right: -5px;
      margin-left: -10px;
    }

    form .form-group:first-child
    {
      margin-top: 0px;
    }

  }

  nav .top-bar-user-info
  {
    display: none;
  }

  header .navbar .navbar-brand
  {
    display: none;
  }

  header .navbar .toggle-nav
  {
    margin-left: 0px;
  }

  .page-header
  {
    margin-bottom: 20px !important;
  }

  .row
  {
    margin-right: -13px;
    margin-left: -18px;
  }

  #content-wrapper .page-header
  {
    min-height: 45px;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  div.form-group > div button
  {
    margin-top: 5px;
  }

  div.form-group + hr.hr-normal
  {
    display: none;
  }

  div.form-actions .action-buttons-bar
  {
    margin-left: auto;
    float: right !important;
    padding-right: 0px;
  }

}

body.omega-app-body
{
  background-color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;

  .row
  {
    margin-right: -5px;
  }

  label
  {
    font-weight: normal;
    font-size: 13px;
  }

  .alert-dismissable .close
  {
    position: relative;
    top: -2px;
    right: 0px;
    color: inherit;
  }

  header .navbar .toggle-nav
  {
    box-shadow: none;
    color: #aaabae;
    display: inline-block;
    border: 1px solid #454a54;
    text-align: center;
    padding: 0;
    line-height: 1;
    font-size: 20px;
    font-weight: 300;
    padding: 4px 5px;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px !important;
    background-clip: padding-box;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    background-color: transparent !important;
  }

  header .navbar .user-menu > a {
    height: 40px;
    line-height: 5px !important;
  }

  #main-nav-bg
  {
    background-color: #303641;
  }

  .navbar.navbar-default
  {
    padding-left: 10px !important;
    border-bottom: 1px solid #454a54;
    z-index: 8;
    background-color: #303641;
    padding: 0;
    margin-bottom: 0;
    border: 0;
    top: 0;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
  }

  #main-nav .navigation > .nav
  {
    background: #303641;
    border-bottom: 1px solid rgba(69, 74, 84, 0.7);
  }

  #main-nav .navigation > .nav > li .nav > li > a
  {
      padding-left: 20px !important;
  }

  #main-nav .navigation > .nav > li .nav > li .nav > li > a
  {
    padding-left: 30px !important;
  }

  #main-nav .navigation > .nav > li .nav > li .nav > li .nav > li > a
  {
    padding-left: 40px !important;
  }

  #main-nav .navigation > .nav > li:hover, #main-nav .navigation > .nav > li a.in, #main-nav .navigation > .nav > li > a:hover
  {
    [class^="icon-"]
    {
      font-size: 17px;
      color: #ffffff !important;
    }
  }

  #main-nav .navigation > .nav a.menu-page.menu-item-active
  {
    background-color: #232323 !important;
    color: #ffffff !important;

    span
    {
      font-weight: bold;
    }

  }

  #main-nav .navigation > .nav > li
  {
    position: relative;
    margin: 0;
    font-size: 12px;
    border-bottom: 1px solid rgba(69, 74, 84, 0.7);
    background-color: #303641;

    > .nav > li > .nav
    {
      border-top-width: 0px;
    }

    > .nav > li > .nav > li > .nav
    {
      border-top-width: 0px;
    }

    > a span
    {
      color: #aaabae !important;
    }


    .nav
    {
      background: #303641;
      border-bottom-width: 0px;
    }

    .nav > li > a
    {
      padding: 10px;
      border-top: 1px solid rgba(69, 74, 84, 0.7);
    }

    .nav > li > a:hover,  .nav > li > a:focus
    {
      background-color: rgba(69, 74, 84, 0.3);
      color: #ffffff;
    }

    > a.in span
    {
      color: #FFFFFF !important;
    }

    > a, a
    {
      position: relative;
      display: block;
      color: #aaabae !important;
      z-index: 2;
      background-color: transparent;
      text-decoration: none;
      -moz-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
      -o-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
      -webkit-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
      transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
      border-bottom-width: 0px;
      border-top-width: 0px;

      span
      {
        text-shadow: none;
      }

      [class^="icon-"]
      {
        font-size: 17px;
        color: #aaabae !important;
      }

    }

  }

  .ui-select-highlight
  {
    font-weight: bold;
    background-color: yellow;
  }

  .form-control
  {
    display: block;
    width: 100%;
    height: 31px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #ebebeb;
    border-radius: 3px !important;
  }

  #main-nav .navigation > .nav > li.active > a
  {
    background-color: #2b303a;
    color: #FFFFFF !important;

    span
    {
      color: #FFFFFF !important;
    }

    [class^="icon-"]
    {
      color: #FFFFFF !important;
    }

  }

  #wrapper
  {
    min-width: 100%;
  }

  #content
  {
    background-color: #FFFFFF;
  }

  #content-wrapper
  {
    font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
    background-color: #FFFFFF;

    .page-header
    {
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      padding-bottom: 15px;
      min-width: 100%;
    }

    .box
    {
      border-radius: 3px;
      background-clip: padding-box;
      box-shadow: 0 3px 1px rgba(0,0,0,.04);
      border: 1px solid transparent;
      border-color: #ebebeb !important;
      padding-left: 0px !important;
      padding-right: 0px !important;

      .box-header,  .box-header.blue-background
      {
        color: #373e4a;
        background-color: #f0f0f1 !important;
        border-color: #ebebeb;

        font-size: 17px;
        line-height: 30px;

        border-top-right-radius: 3px;
        border-top-left-radius: 3px;

        .title
        {
          color: #373e4a;
          font-size: 15px;
        }

        .actions
        {
          margin-top: 2px;
        }

      }

      .box-header.blue-background .actions .btn-link
      {
        color: #373e4a !important;
      }

      .box-header.blue-background .actions .btn-link:hover
      {
        color: #000000 !important;
      }

      .box-content
      {
        border-width: 0px;
      }

    }

    h1 i
    {
      font-size: 20px;
      display: none;
    }

    .page-header h1, .page-header h2, .page-header h3, .page-header h4, .page-header h5, .page-header h6
    {
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
      color: #373e4a;

    }

  }

  header .navbar .dropdown-menu
  {
    border-radius: 3px !important;
  }

  header .navbar > .nav > li.dark > a
  {
    background-color: #2b303a !important;
    padding-top: 15px !important;
  }

  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus,
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus,
  .dropdown-submenu:hover > a,
  .dropdown-submenu:focus > a
  {
    background-color: #cfcbc4 !important;
    color: #ffffff !important;
  }

  .select2-container.select2-container-active.form-control,
  .select2-container-active .select2-choice,
  .select2-container-active .select2-choices,
  .select2-dropdown-open.select2-drop-above .select2-choice,
  .select2-dropdown-open.select2-drop-above .select2-choices,
  .select2-container-multi.select2-container-active .select2-choices,
  .form-control.select2-container.select2-dropdown-open,
  .select2-container
  .select2-choice,
  .select2-drop-active,
  .select2-drop.select2-drop-above.select2-drop-active
  {
    border-color: #ebebeb !important;
  }

  .select2-results
  {
    font-size: 12px;

    .select2-highlighted
    {
      background-color: #0a1a25;
    }

  }

  .select2-container .ui-select-dropdown
  {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .select2-container .select2-choice
  {
    border-radius: 3px !important;
    background-clip: padding-box !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    border: 1px solid transparent !important;
    border-color: #ebebeb !important;
    height: 31px !important;

    > .select2-chosen
    {
      padding: 6px 6px;
      font-size: 12px;
      line-height: 1.52857143;
    }

  }

  .btn
  {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 3px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: #e0e0e0;
  }

  .btn-group.open .btn-primary.dropdown-toggle,
  .btn.btn-primary
  {
    color: #ffffff;
    background-color: #303641;
    border-color: #303641;
  }

  .btn-group.open .btn-warning.dropdown-toggle,
  .btn.btn-warning
  {
    color: #ffffff;
    background-color: #fad839;
    border-color: #fad839;
  }

  .btn-group.open .btn-danger.dropdown-toggle,
  .btn.btn-danger
  {
    color: #ffffff;
    background-color: #cc2424;
    border-color: #cc2424;
  }

  .btn-group.open .btn-success.dropdown-toggle,
  .btn.btn-success
  {
    color: #ffffff;
    background-color: #00a651;
    border-color: #00a651;
  }

  .btn-group.open .btn-info.dropdown-toggle,
  .btn.btn-info
  {
    color: #ffffff;
    background-color: #21a9e1;
    border-color: #21a9e1;
  }

  .form-actions
  {
    background-color: #f8f8f8;
  }

  .alert
  {
    padding: 15px;
    margin-bottom: 17px;
    border: 1px solid transparent;
    border-radius: 3px !important;

    span
    {
      word-wrap: break-word;
    }

  }

  .alert-success
  {
    background-color: #bdedbc;
    border-color: #bdedbc;
    color: #045702;
  }

  .alert-info
  {
    background-color: #c5e8f7;
    border-color: #c5e8f7;
    color: #2c7ea1;
  }

  .alert-warning
  {
    background-color: #ffefa4;
    border-color: #ffefa4;
    color: #574802;
  }

  .alert-danger
  {
    background-color: #ffc9c9;
    border-color: #ffc9c9;
    color: #ac1818;
  }

  .modal-dialog.modal-md
  {
    width: 50% !important;
  }

  .modal-dialog
  {
    .page-header
    {
      min-height: 65px;
    }

    div.alert
    {
      margin-right: 10px;
    }

    @media (min-width: 768px)
    {
      .page-header h1.pull-left
      {
        margin-top: 15px;
      }
    }


  }

  .modal-content
  {
    border-radius: 3px !important;
  }

  .col-xs-12
  {
    padding-right: 5px;
  }

  .modal-body
  {
    #content-wrapper
    {
      padding-bottom: 0px;
    }

    .col-xs-12
    {
      padding-right: 0px;
    }

    a.box-remove:hover
    {
      background-color: #c0c0c0;
      text-decoration: none;
    }

  }

  .omega-list-view
  {
    .omega-in-list-filter-container
    {
      background-color: #f0f0f1 !important;
    }

    .omega-list-nav-bar-actions
    {
      .yellow-icon
      {
        color: #00a651 !important;
      }

    }

    .omega-in-list-filter-control
    {
      input.form-actions
      {
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-right-width: 0px;
      }

      span.input-group-addon
      {
        border-top-right-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
        border: 1px solid #ebebeb;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        background-color: #e0e0e0 !important;
        border-left-width: 0px;
      }

    }

    .omega-list-table
    {
      font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
      font-size: 12px;
      border-collapse: collapse;
      border-spacing: 0px;
      border-bottom-width: 0px;
      border-left-width: 0px;
      border-right-width: 0px;
      margin-bottom: 0px;

      /*
      tbody > tr:nth-child(odd) > td:nth-child(odd),
      tbody > tr:nth-child(odd) > th:nth-child(odd)
      {
        background-color: #f0f0f0;
      }

      tbody > tr:nth-child(even) > td:nth-child(odd),
      tbody > tr:nth-child(even) > th:nth-child(odd)
      {
        background-color: #dadada;
      }
      */

      th
      {
        color: #303641;
        border-left-width: 0px;
        border-right-width: 0px;
        font-weight: bold;
        font-size: 13px;
      }

      td
      {
        padding: 6px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ebebeb;
        border-left-width: 0px;
        border-right-width: 0px;
      }

      tr:last-child td
      {
        border-bottom-width: 0px;
      }

      td p
      {
        font-size: 12px !important;
        line-height: 12px !important;
      }

      .omega-list-checkbox-th, omega-list-checkbox-td
      {
        vertical-align: middle;

        input
        {
          margin-top: 0px !important;
        }
      }

    }

    .omega-list-bottom-info
    {
      margin-top: 15px;
      margin-bottom: 15px;
      font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
      font-size: 14px;
    }

    .pagination
    {
      margin-top: 15px;
      margin-bottom: 15px;

      li.prev a
      {
        border-top-left-radius: 3px !important;
        border-bottom-left-radius: 3px !important;
      }

      li.next a
      {
        border-top-right-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
      }

    }

  }



  .uib-datepicker-popup
  {
    padding-top: 0px;
    border-radius: 3px !important;

    .uib-daypicker th
    {
      font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;

      small
      {
        line-height: 1.6;
        font-size: 75%;
      }

    }

    .uib-daypicker .btn i.glyphicon
    {
      line-height: 1.42;
    }

    .btn-group > .btn
    {
      border-radius: 3px !important;
    }

  }

  .btn-group > .btn:first-child
  {
    margin-left: 0;
  }

  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle)
  {
    border-bottom-left-radius: 3px !important;
    border-top-left-radius: 3px !important;
  }

  .btn-group > .btn:last-child:not(:first-child),
  .btn-group > .dropdown-toggle:not(:first-child)
  {
    border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important;
  }

  .input-group .form-control:first-child
  {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  .input-group-btn:last-child > .btn
  {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }

  .input-group-btn .btn .glyphicon-calendar
  {
    line-height: 1.42;
  }

  .input-group-addon:last-child
  {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }

  hr.hr-normal + hr.hr-normal
  {
    display: none;
  }

  li.notifications.dropdown
  {
    a, a:hover, .btn-link, .btn-link:hover, .btn-link:focus
    {
      text-decoration: none;
      color: #aaabae !important;

    }
  }

}
