body.omega-app-body.main-nav-closed #main-nav .navigation > .nav > li:first-child {
  display: none; }

body.omega-app-body.main-nav-closed #main-nav .navigation > .nav > li:hover > a > span {
  background-color: #09091b;
  padding-left: 0px !important;
  font-weight: 700;
  margin-left: 2px;
  border-bottom-width: 0px;
  width: 249px;
  text-align: center; }
body.omega-app-body.main-nav-closed #main-nav .navigation > .nav > li:hover > a > .angle-down {
  display: none;
  margin-top: 0px; }

@media (max-width: 767px) {
  body.omega-app-body.x-mobile .page-header > .pull-left {
    float: left !important; }
  body.omega-app-body.x-mobile .page-header > .pull-right {
    float: right !important; }
  body.omega-app-body.x-mobile .modal-window .modal-dialog .page-header {
    padding-bottom: 10px !important; }
  body.omega-app-body.x-mobile .modal-window .modal-dialog .page-header > .pull-right {
    margin-top: 0px !important; }
  body.omega-app-body.x-mobile .modal-footer {
    padding: 5px; }
  body.omega-app-body.x-mobile .modal-footer button {
    margin: 5px; } }
body.omega-app-body.x-mobile.main-nav-opened #content {
  margin-left: 253px !important; }
body.omega-app-body.x-mobile .navbar-form {
  margin-left: 0px;
  margin-right: 0px; }
body.omega-app-body.x-mobile .modal-body {
  padding: 10px; }
body.omega-app-body.x-mobile .modal-window .modal-dialog.modal-md {
  width: 95% !important; }
body.omega-app-body.x-mobile .modal-window .modal-dialog {
  width: 95% !important; }
  body.omega-app-body.x-mobile .modal-window .modal-dialog .page-header {
    margin-bottom: 20px !important; }
  body.omega-app-body.x-mobile .modal-window .modal-dialog .col-xs-12 {
    padding-left: 10px; }
  body.omega-app-body.x-mobile .modal-window .modal-dialog .row {
    margin-right: -5px;
    margin-left: -10px; }
  body.omega-app-body.x-mobile .modal-window .modal-dialog form .form-group:first-child {
    margin-top: 0px; }
body.omega-app-body.x-mobile nav .top-bar-user-info {
  display: none; }
body.omega-app-body.x-mobile header .navbar .navbar-brand {
  display: none; }
body.omega-app-body.x-mobile header .navbar .toggle-nav {
  margin-left: 0px; }
body.omega-app-body.x-mobile .page-header {
  margin-bottom: 20px !important; }
body.omega-app-body.x-mobile .row {
  margin-right: -13px;
  margin-left: -18px; }
body.omega-app-body.x-mobile #content-wrapper .page-header {
  min-height: 45px;
  padding-top: 10px;
  padding-bottom: 5px; }
body.omega-app-body.x-mobile div.form-group > div button {
  margin-top: 5px; }
body.omega-app-body.x-mobile div.form-group + hr.hr-normal {
  display: none; }
body.omega-app-body.x-mobile div.form-actions .action-buttons-bar {
  margin-left: auto;
  float: right !important;
  padding-right: 0px; }

body.omega-app-body {
  background-color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif; }
  body.omega-app-body .row {
    margin-right: -5px; }
  body.omega-app-body label {
    font-weight: normal;
    font-size: 13px; }
  body.omega-app-body .alert-dismissable .close {
    position: relative;
    top: -2px;
    right: 0px;
    color: inherit; }
  body.omega-app-body header .navbar .toggle-nav {
    box-shadow: none;
    color: #aaabae;
    display: inline-block;
    border: 1px solid #454a54;
    text-align: center;
    padding: 0;
    line-height: 1;
    font-size: 20px;
    font-weight: 300;
    padding: 4px 5px;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px !important;
    background-clip: padding-box;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    background-color: transparent !important; }
  body.omega-app-body header .navbar .user-menu > a {
    height: 40px;
    line-height: 5px !important; }
  body.omega-app-body #main-nav-bg {
    background-color: #303641; }
  body.omega-app-body .navbar.navbar-default {
    padding-left: 10px !important;
    border-bottom: 1px solid #454a54;
    z-index: 8;
    background-color: #303641;
    padding: 0;
    margin-bottom: 0;
    border: 0;
    top: 0;
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box; }
  body.omega-app-body #main-nav .navigation > .nav {
    background: #303641;
    border-bottom: 1px solid rgba(69, 74, 84, 0.7); }
  body.omega-app-body #main-nav .navigation > .nav > li .nav > li > a {
    padding-left: 20px !important; }
  body.omega-app-body #main-nav .navigation > .nav > li .nav > li .nav > li > a {
    padding-left: 30px !important; }
  body.omega-app-body #main-nav .navigation > .nav > li .nav > li .nav > li .nav > li > a {
    padding-left: 40px !important; }
  body.omega-app-body #main-nav .navigation > .nav > li:hover [class^="icon-"], body.omega-app-body #main-nav .navigation > .nav > li a.in [class^="icon-"], body.omega-app-body #main-nav .navigation > .nav > li > a:hover [class^="icon-"] {
    font-size: 17px;
    color: #ffffff !important; }
  body.omega-app-body #main-nav .navigation > .nav a.menu-page.menu-item-active {
    background-color: #232323 !important;
    color: #ffffff !important; }
    body.omega-app-body #main-nav .navigation > .nav a.menu-page.menu-item-active span {
      font-weight: bold; }
  body.omega-app-body #main-nav .navigation > .nav > li {
    position: relative;
    margin: 0;
    font-size: 12px;
    border-bottom: 1px solid rgba(69, 74, 84, 0.7);
    background-color: #303641; }
    body.omega-app-body #main-nav .navigation > .nav > li > .nav > li > .nav {
      border-top-width: 0px; }
    body.omega-app-body #main-nav .navigation > .nav > li > .nav > li > .nav > li > .nav {
      border-top-width: 0px; }
    body.omega-app-body #main-nav .navigation > .nav > li > a span {
      color: #aaabae !important; }
    body.omega-app-body #main-nav .navigation > .nav > li .nav {
      background: #303641;
      border-bottom-width: 0px; }
    body.omega-app-body #main-nav .navigation > .nav > li .nav > li > a {
      padding: 10px;
      border-top: 1px solid rgba(69, 74, 84, 0.7); }
    body.omega-app-body #main-nav .navigation > .nav > li .nav > li > a:hover, body.omega-app-body #main-nav .navigation > .nav > li .nav > li > a:focus {
      background-color: rgba(69, 74, 84, 0.3);
      color: #ffffff; }
    body.omega-app-body #main-nav .navigation > .nav > li > a.in span {
      color: #FFFFFF !important; }
    body.omega-app-body #main-nav .navigation > .nav > li > a, body.omega-app-body #main-nav .navigation > .nav > li a {
      position: relative;
      display: block;
      color: #aaabae !important;
      z-index: 2;
      background-color: transparent;
      text-decoration: none;
      -moz-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
      -o-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
      -webkit-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
      transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
      border-bottom-width: 0px;
      border-top-width: 0px; }
      body.omega-app-body #main-nav .navigation > .nav > li > a span, body.omega-app-body #main-nav .navigation > .nav > li a span {
        text-shadow: none; }
      body.omega-app-body #main-nav .navigation > .nav > li > a [class^="icon-"], body.omega-app-body #main-nav .navigation > .nav > li a [class^="icon-"] {
        font-size: 17px;
        color: #aaabae !important; }
  body.omega-app-body .ui-select-highlight {
    font-weight: bold;
    background-color: yellow; }
  body.omega-app-body .form-control {
    display: block;
    width: 100%;
    height: 31px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #ebebeb;
    border-radius: 3px !important; }
  body.omega-app-body #main-nav .navigation > .nav > li.active > a {
    background-color: #2b303a;
    color: #FFFFFF !important; }
    body.omega-app-body #main-nav .navigation > .nav > li.active > a span {
      color: #FFFFFF !important; }
    body.omega-app-body #main-nav .navigation > .nav > li.active > a [class^="icon-"] {
      color: #FFFFFF !important; }
  body.omega-app-body #wrapper {
    min-width: 100%; }
  body.omega-app-body #content {
    background-color: #FFFFFF; }
  body.omega-app-body #content-wrapper {
    font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
    background-color: #FFFFFF; }
    body.omega-app-body #content-wrapper .page-header {
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      padding-bottom: 15px;
      min-width: 100%; }
    body.omega-app-body #content-wrapper .box {
      border-radius: 3px;
      background-clip: padding-box;
      box-shadow: 0 3px 1px rgba(0, 0, 0, 0.04);
      border: 1px solid transparent;
      border-color: #ebebeb !important;
      padding-left: 0px !important;
      padding-right: 0px !important; }
      body.omega-app-body #content-wrapper .box .box-header, body.omega-app-body #content-wrapper .box .box-header.blue-background {
        color: #373e4a;
        background-color: #f0f0f1 !important;
        border-color: #ebebeb;
        font-size: 17px;
        line-height: 30px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px; }
        body.omega-app-body #content-wrapper .box .box-header .title, body.omega-app-body #content-wrapper .box .box-header.blue-background .title {
          color: #373e4a;
          font-size: 15px; }
        body.omega-app-body #content-wrapper .box .box-header .actions, body.omega-app-body #content-wrapper .box .box-header.blue-background .actions {
          margin-top: 2px; }
      body.omega-app-body #content-wrapper .box .box-header.blue-background .actions .btn-link {
        color: #373e4a !important; }
      body.omega-app-body #content-wrapper .box .box-header.blue-background .actions .btn-link:hover {
        color: #000000 !important; }
      body.omega-app-body #content-wrapper .box .box-content {
        border-width: 0px; }
    body.omega-app-body #content-wrapper h1 i {
      font-size: 20px;
      display: none; }
    body.omega-app-body #content-wrapper .page-header h1, body.omega-app-body #content-wrapper .page-header h2, body.omega-app-body #content-wrapper .page-header h3, body.omega-app-body #content-wrapper .page-header h4, body.omega-app-body #content-wrapper .page-header h5, body.omega-app-body #content-wrapper .page-header h6 {
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
      color: #373e4a; }
  body.omega-app-body header .navbar .dropdown-menu {
    border-radius: 3px !important; }
  body.omega-app-body header .navbar > .nav > li.dark > a {
    background-color: #2b303a !important;
    padding-top: 15px !important; }
  body.omega-app-body .dropdown-menu > .active > a,
  body.omega-app-body .dropdown-menu > .active > a:hover,
  body.omega-app-body .dropdown-menu > .active > a:focus,
  body.omega-app-body .dropdown-menu > li > a:hover,
  body.omega-app-body .dropdown-menu > li > a:focus,
  body.omega-app-body .dropdown-submenu:hover > a,
  body.omega-app-body .dropdown-submenu:focus > a {
    background-color: #cfcbc4 !important;
    color: #ffffff !important; }
  body.omega-app-body .select2-container.select2-container-active.form-control,
  body.omega-app-body .select2-container-active .select2-choice,
  body.omega-app-body .select2-container-active .select2-choices,
  body.omega-app-body .select2-dropdown-open.select2-drop-above .select2-choice,
  body.omega-app-body .select2-dropdown-open.select2-drop-above .select2-choices,
  body.omega-app-body .select2-container-multi.select2-container-active .select2-choices,
  body.omega-app-body .form-control.select2-container.select2-dropdown-open,
  body.omega-app-body .select2-container
  .select2-choice,
  body.omega-app-body .select2-drop-active,
  body.omega-app-body .select2-drop.select2-drop-above.select2-drop-active {
    border-color: #ebebeb !important; }
  body.omega-app-body .select2-results {
    font-size: 12px; }
    body.omega-app-body .select2-results .select2-highlighted {
      background-color: #0a1a25; }
  body.omega-app-body .select2-container .ui-select-dropdown {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  body.omega-app-body .select2-container .select2-choice {
    border-radius: 3px !important;
    background-clip: padding-box !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    border: 1px solid transparent !important;
    border-color: #ebebeb !important;
    height: 31px !important; }
    body.omega-app-body .select2-container .select2-choice > .select2-chosen {
      padding: 6px 6px;
      font-size: 12px;
      line-height: 1.52857143; }
  body.omega-app-body .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 3px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: #e0e0e0; }
  body.omega-app-body .btn-group.open .btn-primary.dropdown-toggle,
  body.omega-app-body .btn.btn-primary {
    color: #ffffff;
    background-color: #303641;
    border-color: #303641; }
  body.omega-app-body .btn-group.open .btn-warning.dropdown-toggle,
  body.omega-app-body .btn.btn-warning {
    color: #ffffff;
    background-color: #fad839;
    border-color: #fad839; }
  body.omega-app-body .btn-group.open .btn-danger.dropdown-toggle,
  body.omega-app-body .btn.btn-danger {
    color: #ffffff;
    background-color: #cc2424;
    border-color: #cc2424; }
  body.omega-app-body .btn-group.open .btn-success.dropdown-toggle,
  body.omega-app-body .btn.btn-success {
    color: #ffffff;
    background-color: #00a651;
    border-color: #00a651; }
  body.omega-app-body .btn-group.open .btn-info.dropdown-toggle,
  body.omega-app-body .btn.btn-info {
    color: #ffffff;
    background-color: #21a9e1;
    border-color: #21a9e1; }
  body.omega-app-body .form-actions {
    background-color: #f8f8f8; }
  body.omega-app-body .alert {
    padding: 15px;
    margin-bottom: 17px;
    border: 1px solid transparent;
    border-radius: 3px !important; }
    body.omega-app-body .alert span {
      word-wrap: break-word; }
  body.omega-app-body .alert-success {
    background-color: #bdedbc;
    border-color: #bdedbc;
    color: #045702; }
  body.omega-app-body .alert-info {
    background-color: #c5e8f7;
    border-color: #c5e8f7;
    color: #2c7ea1; }
  body.omega-app-body .alert-warning {
    background-color: #ffefa4;
    border-color: #ffefa4;
    color: #574802; }
  body.omega-app-body .alert-danger {
    background-color: #ffc9c9;
    border-color: #ffc9c9;
    color: #ac1818; }
  body.omega-app-body .modal-dialog.modal-md {
    width: 50% !important; }
  body.omega-app-body .modal-dialog .page-header {
    min-height: 65px; }
  body.omega-app-body .modal-dialog div.alert {
    margin-right: 10px; }
  @media (min-width: 768px) {
    body.omega-app-body .modal-dialog .page-header h1.pull-left {
      margin-top: 15px; } }
  body.omega-app-body .modal-content {
    border-radius: 3px !important; }
  body.omega-app-body .col-xs-12 {
    padding-right: 5px; }
  body.omega-app-body .modal-body #content-wrapper {
    padding-bottom: 0px; }
  body.omega-app-body .modal-body .col-xs-12 {
    padding-right: 0px; }
  body.omega-app-body .modal-body a.box-remove:hover {
    background-color: #c0c0c0;
    text-decoration: none; }
  body.omega-app-body .omega-list-view .omega-in-list-filter-container {
    background-color: #f0f0f1 !important; }
  body.omega-app-body .omega-list-view .omega-list-nav-bar-actions .yellow-icon {
    color: #00a651 !important; }
  body.omega-app-body .omega-list-view .omega-in-list-filter-control input.form-actions {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-right-width: 0px; }
  body.omega-app-body .omega-list-view .omega-in-list-filter-control span.input-group-addon {
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    border: 1px solid #ebebeb;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #e0e0e0 !important;
    border-left-width: 0px; }
  body.omega-app-body .omega-list-view .omega-list-table {
    font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    border-spacing: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-bottom: 0px;
      /*
      tbody > tr:nth-child(odd) > td:nth-child(odd),
      tbody > tr:nth-child(odd) > th:nth-child(odd)
      {
        background-color: #f0f0f0;
      }

      tbody > tr:nth-child(even) > td:nth-child(odd),
      tbody > tr:nth-child(even) > th:nth-child(odd)
      {
        background-color: #dadada;
      }
      */ }
    body.omega-app-body .omega-list-view .omega-list-table th {
      color: #303641;
      border-left-width: 0px;
      border-right-width: 0px;
      font-weight: bold;
      font-size: 13px; }
    body.omega-app-body .omega-list-view .omega-list-table td {
      padding: 6px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ebebeb;
      border-left-width: 0px;
      border-right-width: 0px; }
    body.omega-app-body .omega-list-view .omega-list-table tr:last-child td {
      border-bottom-width: 0px; }
    body.omega-app-body .omega-list-view .omega-list-table td p {
      font-size: 12px !important;
      line-height: 12px !important; }
    body.omega-app-body .omega-list-view .omega-list-table .omega-list-checkbox-th, body.omega-app-body .omega-list-view .omega-list-table omega-list-checkbox-td {
      vertical-align: middle; }
      body.omega-app-body .omega-list-view .omega-list-table .omega-list-checkbox-th input, body.omega-app-body .omega-list-view .omega-list-table omega-list-checkbox-td input {
        margin-top: 0px !important; }
  body.omega-app-body .omega-list-view .omega-list-bottom-info {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
    font-size: 14px; }
  body.omega-app-body .omega-list-view .pagination {
    margin-top: 15px;
    margin-bottom: 15px; }
    body.omega-app-body .omega-list-view .pagination li.prev a {
      border-top-left-radius: 3px !important;
      border-bottom-left-radius: 3px !important; }
    body.omega-app-body .omega-list-view .pagination li.next a {
      border-top-right-radius: 3px !important;
      border-bottom-right-radius: 3px !important; }
  body.omega-app-body .uib-datepicker-popup {
    padding-top: 0px;
    border-radius: 3px !important; }
    body.omega-app-body .uib-datepicker-popup .uib-daypicker th {
      font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif; }
      body.omega-app-body .uib-datepicker-popup .uib-daypicker th small {
        line-height: 1.6;
        font-size: 75%; }
    body.omega-app-body .uib-datepicker-popup .uib-daypicker .btn i.glyphicon {
      line-height: 1.42; }
    body.omega-app-body .uib-datepicker-popup .btn-group > .btn {
      border-radius: 3px !important; }
  body.omega-app-body .btn-group > .btn:first-child {
    margin-left: 0; }
  body.omega-app-body .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-left-radius: 3px !important;
    border-top-left-radius: 3px !important; }
  body.omega-app-body .btn-group > .btn:last-child:not(:first-child),
  body.omega-app-body .btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important; }
  body.omega-app-body .input-group .form-control:first-child {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important; }
  body.omega-app-body .input-group-btn:last-child > .btn {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important; }
  body.omega-app-body .input-group-btn .btn .glyphicon-calendar {
    line-height: 1.42; }
  body.omega-app-body .input-group-addon:last-child {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important; }
  body.omega-app-body hr.hr-normal + hr.hr-normal {
    display: none; }
  body.omega-app-body li.notifications.dropdown a, body.omega-app-body li.notifications.dropdown a:hover, body.omega-app-body li.notifications.dropdown .btn-link, body.omega-app-body li.notifications.dropdown .btn-link:hover, body.omega-app-body li.notifications.dropdown .btn-link:focus {
    text-decoration: none;
    color: #aaabae !important; }

/*# sourceMappingURL=omega-neon-theme.css.map */
