body.login
{
    font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
    background-color: #ffffff !important;
}

body.login.contrast-dark.contrast-background
{
    background-color: #ffffff !important;
}

body.login .login-container
{
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 40px 0 0 0 !important;
}

.form-control:focus
{
    box-shadow: 0 0 2px #dce1e5 !important;
}

body.login .login-container-footer a
{
    text-shadow: none !important;
    color: #000000 !important;
}

body.login .login-container:before
{
    border-bottom-color: transparent !important;
}

body.login .btn
{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 3px !important;
}

.login-container .container .row > .col-sm-4
{
    padding-left: 40px;
    padding-right: 40px;
    background-color: #252a32;
    border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.login-container .container .row > .col-sm-4 form  .col-sm-4
{
    padding-left: 0px !important;
}

.login-container .container .row > .col-sm-4 form > .col-sm-4:last-child
{
    padding-right: 0px;
}

body.login .login-container .title
{
    color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    margin-left: -40px;
    margin-right: -40px;
    background-color: #39414c;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

body.login .login-container form .form-control
{
    background-color: rgba(0, 0, 0, 1) !important;
    color: #ffffff;
    border-color: transparent;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-radius: 3px !important;
}

body.login .login-container form input:-webkit-autofill,
body.login .login-container form input:-webkit-autofill:hover,
body.login .login-container form input:-webkit-autofill:focus,
body.login .login-container form input:-webkit-autofill:active
{
    transition: background-color 5000s ease-in-out 0s !important;
    color: #ffffff !important;
    -webkit-text-fill-color: #ffffff !important;
}

.form-horizontal .form-group
{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.textfieldRequiredState .textfieldRequiredMsg,
.textfieldInvalidFormatState .textfieldInvalidFormatMsg,
.textfieldMinValueState .textfieldMinValueMsg,
.textfieldMaxValueState .textfieldMaxValueMsg,
.textfieldMinCharsState .textfieldMinCharsMsg,
.textfieldMaxCharsState .textfieldMaxCharsMsg
{
    line-height: 23px;
    padding-left: 4px;
}