
.modal-dialog .ui-select-bootstrap.open
{
    z-index: 9999 !important; /* greater then ui bootstrap modal, that 1050 */
}

.modal-dialog .dropdown-menu
{
    z-index: 9999 !important;
}

.modal-dialog .dropdown-menu *
{
    z-index: 9999 !important;
}

.timepicker-label
{
    margin-top: 40px !important;

}

.uib-button-bar button
{
    margin-right: 5px;
}

.modal-window .modal-dialog
{
    width: 80% !important;
}

.ui-select-multiple
{
    height: 34px !important;
    padding: 5px 3px 0 3px !important;
}

.ui-select-multiple input[type="search"]:focus
{
    box-shadow: none !important;
}

.close-button-container
{
    margin-top: 10px !important;
}

.close-button-container .box-remove
{
    font-size: 18px;
}

p.input-group
{
    margin-bottom: 0px;
}

pre.debug-box
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.drop-box
{
    background: #F8F8F8;
    border: 5px dashed #DDD;
    text-align: center;
    padding: 50px 10px;
}

.drop-box.dragover
{
    border: 5px dashed blue;
}

.upload-progress
{
    margin-top: 10px;
}

.upload-file-list
{
    margin-top: 10px;
}

.upload-file-list .table td
{
    border-width: 0px !important;
}

.drop-box.dragover-err
{
    border: 5px dashed red;
}

.equal, .equal > div[class*='col-'], .equal > div[class*='col-'] > *
{
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
}

.label-top
{
    margin-top: 15px;
    margin-bottom: 2px;
}

.list-table
{
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
}

.list-table .center
{
    text-align: center;
}

.list-table .v-center
{
    vertical-align: middle;
}

.list-table thead tr
{
    background-color: #555555;
    color: #ffffff;
    font-size: 14px;
}

.list-table thead td
{
    padding: 5px;
    
}

.navbar-form
{
    padding-left: 0px;
}

.list-navbar
{
    margin-top: 0px;
    padding-right: 0px;
}

.yellow-icon
{
    color: #fff803;
}

.related-entity-container
{
    margin-bottom: 20px;
    border: 1px solid #cebfbf;
    padding-top: 20px;
}

.box .box-header .actions .plus-icon
{
    text-decoration: none;
    text-shadow: none;
    color: white;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.box .box-header .actions .plus-icon:hover
{
    background-color: #ffffff;
    color: #00acec !important;
    box-shadow: none;
}

.box .box-header .actions .plus-icon i:before
{
    content: "+";
}

.box .box-header .actions .plus-icon i
{
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
    font-size: 16px;
}

.dropdown
{
    margin-bottom: 1px;
}

.label-subtitle
{
    font-size: 16px;
    text-decoration: underline;
}

.hr-big
{
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid white;
}

.menu-item-nivel-0
{
    padding-left: 0px;
}

.menu-item-nivel-1
{
    padding-left: 20px;
}

.menu-item-nivel-2
{
    padding-left: 40px;
}

.menu-item-nivel-3
{
    padding-left: 60px;
}

.menu-item-nivel-4
{
    padding-left: 80px;
}

.checkbox-list-internal-container
{
    display: block;
    position: relative;
    float: none;
    overflow: auto;
}

header .navbar .user-menu .dropdown-toggle
{
    padding-top: 10px !important;
    padding-bottom: 12px !important;
}

.blockUI.blockOverlay
{
    z-index: 1950 !important;
}


.select2-container .select2-choice
{
    height: 34px !important;
    line-height: 34px !important;
    border-radius: 0px !important;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s !important;
    border: 1px solid #cccccc !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    background-image: none !important;
}

.has-error .ui-select-container
{
    border-color: #b94a48 !important;
}

.has-error .select2-container .select2-choice
{
    border-color: #b94a48 !important;
}

.select2-dropdown-open .select2-choice
{
    background-color: #FFFFFF !important;
}

.select2-drop
{
    border-radius: 0px !important;
}

.select2-search
{
    margin-left: 0px !important;
    min-height: 30px !important;
}

.select2-results .select2-result-label
{
    padding: 7px 7px 5px !important;
    min-height: 30px !important;
}

.select2-container .select2-choice .select2-arrow
{
    border-left-width: 0px !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    background-image: none !important;
}

.box .box-header.small
{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    padding: 7px 10px;
    overflow: hidden;
}

.box .box-header .actions
{
    margin-top: 7px;
    float: right;
}

.box .box-header.small .actions
{
    margin-top: 3px;
    float: right;
}

.main-nav-closed #main-nav .navigation > .nav > li > a [class^="icon-"], #main-nav .navigation > .nav > li > a [class*=" icon-"]
{
    margin-top: 10px;
}

.action-buttons-bar
{
    margin-left: 20px;
}

form .form-group:first-child
{
    margin-top: 8px;
}

.page-header
{
    margin-bottom: 25px !important;
}

.omega-list-nav-bar-actions
{
    margin-top: 0px !important;
}

.omega-in-list-filter-container
{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 7px;
    padding-right: 7px;
}

.omega-in-list-filter-container form
{
    margin-bottom: 0px;
}

.omega-in-list-filter-container .navbar-form
{
    margin-top: 0px;
    margin-bottom: 0px;
}

.omega-in-list-filter-container .navbar-form button
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.omega-in-list-filter-control
{
    padding-top: 5px;
    padding-bottom: 7px;
}

.omega-list-table th
{
    white-space: nowrap;
    border-bottom-width: 2px !important;
}

.omega-list-table td
{
    vertical-align: middle !important;
}

.omega-list-table td p
{
    margin-bottom: 0px !important;
    font-size: 14px;
    line-height: 20px;
}

.omega-list-checkbox-th
{
    max-width: 40px !important;
    text-align: center;
}

.omega-list-record-content-td
{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.omega-list-record-options-th
{
    text-align: center;
    max-width: 100px !important;
}

.omega-list-checkbox-td
{
    text-align: center;
}

.omega-list-record-options-td
{
    text-align: center;
}

.omega-list-record-options-td button
{
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
}

.omega-list-bottom-info
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    line-height: 30px;
}

.omega-list .pagination
{
    margin-right: 10px;
}

.omega-list .responsive-table
{
    width: 100%;
}

.omega-list .responsive-table .scrollable-area
{
    margin-top: 0px !important;
    margin-left: -1px !important;
}

.resizer
{
    position: absolute;
    top: 0;
    right: -8px;
    bottom: 0;
    left: auto;
    width: 16px;
    cursor: col-resize;
}

@media (min-width: 992px)
{
    .omega-filter-box .col-md-5
    {
        width: 47.66667%;
    }
    .omega-filter-box .col-sm-offset-1
    {
        margin-left: 2.33333%;
    }
}

.modal-body.text-danger
{
    word-wrap: break-word;
}

.nav.top-bar-user-info
{
    color: #ffffff;
    align-items: center;
    flex-direction: row;
    display: flex;
    font-size: 12px;
    height: 100%;
}

.nav.top-bar-user-info li
{
    margin-right: 20px;
}

.nav.top-bar-user-info li:last-child
{
    margin-right: 30px;
}

.top-bar-label
{
    color: #ffffff !important;
    font-weight: bold;
}

.top-bar-value
{
    color: #aaabae !important;
}